.outer {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.776);
}

.bookingform {
  position: fixed;
  top: 18%;
  width: 48vw;
  height: 65vh;
  border-radius: 18px;
  background-color: rgb(30, 30, 30);
  left: 26%;
}

.bookingform form {
  position: fixed;
  top: 22%;
  left: 43%;
}

.bookingform input {
  appearance: textfield;
  -webkit-appearance: textfield;
  height: 1.6rem;
  background-color: #2b2a33;
  border-radius: 10px;
  border: 1px solid transparent;
  padding-left: 10px;
}

.bookingform input:focus {
  border: 1px solid rgb(126, 126, 126);
  outline: none;
}

.bookingform input:placeholder-shown {
  color: #939399;
}

.icon {
  position: fixed;
  top: 18%;
  left: 74%;
  scale: 2;
}

.inputs {
  display: flex;
  flex-flow: column;
  gap: 3px;
}

.heading {
  margin: 1rem 0 0 4px;
}

.showdate input:focus {
  user-select: text;
}
