.container {
  margin: 1rem 2rem 1rem auto;
  display: flex;
  flex-flow: row nowrap;
  gap: 3rem;
}

.poster {
  width: 20rem;
  margin-left: 4rem;
  object-fit: contain;
  background-color: black;
}

.summary {
  margin-bottom: 0rem;
}

.name {
  font-size: 2.5rem;
  margin: -1rem 0 0 0;
}

.runtime {
  margin-bottom: 0rem;
}

.genre {
  display: flex;
  margin-top: -1rem;
  flex-flow: row;
  gap: 0.6rem;
}

.action {
  width: 10rem;
  height: 3rem;
  font-size: 1.1rem;
  border-radius: 20px;
  border: none;
}
.action:hover {
  background-color: white;
  color: #52525e;
  border: 1px solid #52525e;
}
