.container {
  margin: 1rem auto 1rem auto;
  display: flex;
  flex-flow: row nowrap;
  gap: 3rem;
}

.poster {
  width: 20rem;
  margin-left: 4rem;
  background-color: white;
}

.name {
  font-size: 2.5rem;
  margin-bottom: -1rem;
}

.genre {
  display: flex;
  margin-top: -1rem;
  flex-flow: row;
  gap: 0.6rem;
}
